{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>

<head>
  <!-- エンコードの指定 -->
  <meta charset="utf-8">

  <!-- IEで常に標準モードで表示させる -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- 電話番号の自動リンク化を無効 -->
  <meta name="format-detection" content="telephone=no">

  <!-- viewport(レスポンシブ用) -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- 公開前は検索エンジンにインデックスさせない -->
  <meta name="robots" content="noindex, nofollow">

  <!-- サイトのタイトル＆説明 -->
  <title>Tousimu</title>
  <meta name="description" content="長期投資で未来をシミュレーション">

  <meta name=”twitter:card” content=”summary_large_image“>
  <meta name=”twitter:site” content=”maroblog28“>
  <meta name=”twitter:title” content=”Kabutaku“>
  <meta name=”twitter:description” content="長期投資で未来をシミュレーション">
  <meta name=”twitter:image” content=“画像URL“>

  {% block css %}
  {% endblock css %}

  <link rel="stylesheet" href="{% static 'simulators/css/base.css' %}">
  <script type="text/javascript" src="{% static 'simulators/js/Chart.js' %}"></script>
  <script type="text/javascript" src="{% static 'simulators/js/chartjs-plugin-datalabels.min.js' %}"></script>

</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "simulators:index" %}"><img class='img-fluid'
        src="{% static 'simulators/img/logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'simulators:funded-simulator' %}"
          id='id_index_invest'>積立金額シミュレーション</a>
        <a class="nav-item nav-link" href="{% url 'simulators:dividend-simulator' %}">配当金額シミュレーション</a>
        <a class="nav-item nav-link" href="{% url 'simulators:flat-price-sale' %}">資産取崩しシミュレーション</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href='https://twitter.com/maroblog28'>開発者Twitter</a>
      </div>
    </div>
  </nav>
</header>

<body>
  {% block content %}
  {% endblock content %}
  <main class='m-1'>
    <h3 class='text-center mt-3'>{% block page_name %}未設定{% endblock page_name %}</h3>
    <ul class="nav nav-tabs navbar-expand-lg nav-fill">
      <li class="nav-item">
        {% block tab1 %}未設定{% endblock tab1 %}
      </li>
      <li class="nav-item">
        {% block tab2 %}未設定{% endblock tab2 %}
      </li>
      <li class="nav-item">
        {% block tab3 %}未設定{% endblock tab3 %}
      </li>
      <li class="nav-item">
        {% block tab4 %}未設定{% endblock tab4 %}
      </li>
    </ul>
    <div class="tab-content my-2">
      <div id="canva1" class="tab-pane fade show active container-fluid">
        {% block tab1_content %}
        {% endblock tab1_content %}
      </div>

      <div id="canva2" class="tab-pane fade container-fluid">
        {% block tab2_content %}
        {% endblock tab2_content %}
      </div>

      <div id="canva3" class="tab-pane fade container-fluid">
        {% block tab3_content %}
        {% endblock tab3_content %}
      </div>

      <div id="canva4" class="tab-pane fade container-fluid">
        {% block tab4_content %}
        {% endblock tab4_content %}
      </div>
    </div>
  </main>
</body>
<footer class='page-footer font-small mt-5' style='background-color: #87A2DB'>
  <div class="footer-copyright text-center py-4" style='color: #fff'>
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/" style='color: #fff'> Tousimu.work</a>
  </div>
</footer>

{% block js %}
{% endblock js %}

</html>
