{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>

<head>
  <!-- エンコードの指定 -->
  <meta charset="utf-8">

  <!-- IEで常に標準モードで表示させる -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- 電話番号の自動リンク化を無効 -->
  <meta name="format-detection" content="telephone=no">

  <!-- viewport(レスポンシブ用) -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- サイトのタイトル＆説明 -->
  <title>Tousimu</title>
  <meta name="description" content="長期投資で未来をシミュレーション">

  <meta name=”twitter:card” content=”summary_large_image“>
  <meta name=”twitter:site” content=”@maroblog28“>
  <meta property="og:url" content="https://tousimu.work">
  <meta property=”og:title” content=”Tousimu“>
  <meta property=”og:description” content="長期投資で未来をシミュレーション">
  <meta property=”og:image” content=“{% static 'simulators/img/funded-thumbnail.png' %}“>

  {% block css %}
  {% endblock css %}

  <script type="text/javascript" src="{% static 'simulators/js/Chart.js' %}"></script>
  <script type="text/javascript" src="{% static 'simulators/js/chartjs-plugin-datalabels.min.js' %}"></script>

  {% if GOOGLE_ANALYTICS_TRACKING_ID %}
  {% include 'simulators/ga.html' %}
  {% endif %}

</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "simulators:index" %}">
      <img class='img-fluid' src="{% static 'simulators/img/logo.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'simulators:funded-simulator' %}"
          id='id_index_invest'>積立金額シミュレーション</a>
        <a class="nav-item nav-link" href="{% url 'simulators:dividend-simulator' %}">配当金額シミュレーション</a>
        <a class="nav-item nav-link" href="{% url 'simulators:flat-price-sale' %}">資産取崩しシミュレーション</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href='https://twitter.com/maroblog28'>開発者Twitter</a>
      </div>
    </div>
  </nav>
</header>

<body>
  {% block content %}
  {% endblock content %}
</body>

<footer class='page-footer font-small mt-5' style='background-color: #F8F9FA'>
  <div class="footer-copyright text-center py-4">
    © 2020 Copyright: Tousimu
  </div>
</footer>

{% block js %}
{% endblock js %}

</html>
