{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- エンコードの指定 -->
  <meta charset="utf-8">

  <!-- 電話番号の自動リンク化を無効 -->
  <meta name="format-detection" content="telephone=no">

  <!-- viewport(レスポンシブ用) -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- サイトのタイトル＆説明 -->
  <title>{% block title %}Tousimu{% endblock title %}</title>
  <meta name="description" content="{% block description %}Tousimu[トウシム]は、シンプルで簡単にすぐ使える長期投資シミュレーションです。{% endblock description %}">

  <!-- Twitterカード -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@maroblog28">

  {% block twitter_card %}
  <meta property="og:url" content="https://tousimu.work">
  <meta property="og:title" content="Tousimu[トウシム]">
  <meta property="og:description" content="長期投資で未来をシミュレーション">
  {% endblock twitter_card %}
  <meta property="og:image" content="https://tousimu.work/static/simulators/img/card-thumbnail.jpg">

  <!-- Django-Bootstrap -->
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {% block css %}
  {% endblock css %}

  <script type="text/javascript" src="https://kit.fontawesome.com/37a5b4f8e2.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

  <!-- Google Adsense＆Analytics -->
  {% if GOOGLE_ANALYTICS_TRACKING_ID %}
  {% include 'simulators/ga.html' %}
  {% endif %}

</head>

<body>
  <header class='sticky-top shadow-sm'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url "simulators:index" %}">
        <img class='img-fluid' src="{% static 'simulators/img/logo.png' %}" alt='Tousimu Logo'>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'simulators:funded-simulator' %}"
            id='id_index_invest'>積立金額シミュレーション</a>
          <a class="nav-item nav-link" href="{% url 'simulators:dividend-simulator' %}">配当金額シミュレーション</a>
          <a class="nav-item nav-link" href="{% url 'simulators:flat-price-sale' %}">資産取崩しシミュレーション</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href='https://twitter.com/maroblog28'><i class="fa fa-twitter"></i>
            開発者Twitter</a>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
  <footer class='page-footer font-small mt-5' style='background-color: #F8F9FA'>
    <div class="text-center py-4">
      <p>
        <a href="https://maro28.com/" class='text-body'>開発者ブログ</a>｜
        <a href="{% url 'simulators:terms' %}" class='text-body'>利用規約</a>｜
        <a href="{% url 'simulators:privacy' %}" class='text-body'>プライバシーポリシー</a>
      </p>
      <p>
        <a href='https://twitter.com/maroblog28' class='text-body'>お問い合わせはTwitterから</a>
      </p>
      <p>© 2020 Copyright: Tousimu</p>
    </div>
  </footer>
  {% block js %}
  {% endblock js %}
</body>

</html>
