{% extends 'simulators/base-tab.html' %}
{% load static %}

{% block title %}資産取崩しシミュレーション{% endblock title %}

{% block description %}毎月同じ金額を取り崩すために必要な総資産額のシミュレーション。投資元本との比較によって複利の力を実感できます。総資産額から逆算した毎月取り崩す金額・取り崩す期間・利回りも計算可能。{% endblock description %}

{% block twitter_card %}
<meta property="og:url" content="https://tousimu.work/flat-price-sale" />
<meta property="og:title" content="資産取崩しシミュレーション｜Tousimu[トウシム]" />
<meta property="og:description"
  content="毎月同じ金額を取り崩すために必要な総資産額のシミュレーション。投資元本との比較によって複利の力を実感できます。総資産額から逆算した毎月取り崩す金額・取り崩す期間・利回りも計算可能。" />
{% endblock twitter_card %}

{% block page_name %}
資産取崩しシミュレーション
{% endblock page_name %}

{% block tab1 %}
総資産額
{% endblock tab1 %}

{% block tab2 %}
毎月取り崩す金額
{% endblock tab2 %}

{% block tab3 %}
取り崩し期間
{% endblock tab3 %}

{% block tab4 %}
利回り
{% endblock tab4 %}

{% block tab1_content %}
<div class="form-group col-sm-6 col-lg-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="monthly_amount_addon" class="input-group-text" for="id_last_funded_monthly_amount">毎月取り崩す金額</label>
    </div>
    <input type="number" class="form-control text-right" id="id_last_funded_monthly_amount" value="200000" min="0"
      max="9999999" step="10000" required pattern="\d*" aria-describedby='monthly_amount_addon'>
    <div class="input-group-append">
      <label id="monthly_amount_addon" class="input-group-text" for="id_last_funded_monthly_amount">円</label>
    </div>
  </div>
</div>
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="period_addon" class="input-group-text" for='id_last_funded_period'>取り崩し期間</label>
    </div>
    <input type="number" class="form-control text-right" value="20" min="0" max="99" required id="id_last_funded_period"
      pattern="\d*" aria-describedby='period_addon'>
    <div class="input-group-append">
      <label id="period_addon" class="input-group-text" for='id_last_funded_period'>年</label>
    </div>
  </div>
</div>
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="yearly_yield_addon" class="input-group-text" for="id_last_funded_yearly_yield">利回り</label>
    </div>
    <input type="number" class="form-control text-right" id="id_last_funded_yearly_yield" value="7" min="-99.9"
      max="99.9" step="0.1" required pattern="\d*" aria-describedby='yearly_yield_addon'>
    <div class="input-group-append">
      <label id="yearly_yield_addon" class="input-group-text" for="id_last_funded_yearly_yield">%</label>
    </div>
  </div>
</div>
{% endblock tab1_content %}

{% block tab2_content %}
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="period_addon" class="input-group-text" for="id_monthly_amount_period">取り崩し期間</label>
    </div>
    <input type="number" class="form-control text-right" value="20" min="0" max="99" required
      id="id_monthly_amount_period" pattern="\d*" aria-describedby='period_addon'>
    <div class="input-group-append">
      <label id="period_addon" class="input-group-text" for="id_monthly_amount_period">年</label>
    </div>
  </div>
</div>
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="yearly_yield_addon" class="input-group-text" for="id_monthly_amount_yearly_yield">利回り</label>
    </div>
    <input type="number" class="form-control text-right" id="id_monthly_amount_yearly_yield" value="7" min="-99.9"
      max="99.9" step="0.1" required pattern="\d*" aria-describedby='yearly_yield_addon'>
    <div class="input-group-append">
      <label id="yearly_yield_addon" class="input-group-text" for="id_monthly_amount_yearly_yield">%</label>
    </div>
  </div>
</div>
<div class="form-group col-sm-6 col-lg-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="last_funded_addon" class="input-group-text" for="id_monthly_amount_last_funded_amount">総資産額</label>
    </div>
    <input type="number" class="form-control text-right" id="id_monthly_amount_last_funded_amount" value="25000000"
      min="0" max="999999999" step="10000000" required pattern="\d*" aria-describedby='last_funded_addon'>
    <div class="input-group-append">
      <label id="last_funded_addon" class="input-group-text" for="id_monthly_amount_last_funded_amount">円</label>
    </div>
  </div>
</div>
{% endblock tab2_content %}

{% block tab3_content %}
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="monthly_amount_addon" class="input-group-text" for="id_period_monthly_amount">毎月取り崩す金額</label>
    </div>
    <input type="number" class="form-control text-right" value="200000" min="0" max="99999999" step="10000" required
      id="id_period_monthly_amount" pattern="\d*" aria-describedby='monthly_amount_addon'>
    <div class="input-group-append">
      <label id="monthly_amount_addon" class="input-group-text" for="id_period_monthly_amount">円</label>
    </div>
  </div>
</div>
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="yearly_yield_addon" class="input-group-text" for="id_period_yearly_yield">利回り</label>
    </div>
    <input type="number" class="form-control text-right" id="id_period_yearly_yield" value="7" min="-99.9" max="99.9"
      step="0.1" required pattern="\d*" aria-describedby='yearly_yield_addon'>
    <div class="input-group-append">
      <label id="yearly_yield_addon" class="input-group-text" for="id_period_yearly_yield">%</label>
    </div>
  </div>
</div>
<div class="form-group col-sm-6 col-lg-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="last_funded_addon" class="input-group-text" for="id_period_last_funded_amount">総資産額</label>
    </div>
    <input type="number" class="form-control text-right" id="id_period_last_funded_amount" value="25000000" min="0"
      max="999999999" step="10000000" required pattern="\d*" aria-describedby='last_funded_addon'>
    <div class="input-group-append">
      <label id="last_funded_addon" class="input-group-text" for="id_period_last_funded_amount">円</label>
    </div>
  </div>
</div>
{% endblock tab3_content %}

{% block tab4_content %}
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="monthly_amount_addon" class="input-group-text" for="id_yearly_yield_monthly_amount">毎月取り崩す金額</label>
    </div>
    <input type="number" class="form-control text-right" value="200000" min="0" max="99999999" step="10000" required
      id="id_yearly_yield_monthly_amount" pattern="\d*" aria-describedby='monthly_amount_addon'>
    <div class="input-group-append">
      <label id="monthly_amount_addon" class="input-group-text" for="id_yearly_yield_monthly_amount">円</label>
    </div>
  </div>
</div>
<div class='form-group col-sm-6 col-lg-4'>
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="period_addon" class="input-group-text" for="id_yearly_yield_period">投資期間</label>
    </div>
    <input type="number" class="form-control text-right" id="id_yearly_yield_period" value="20" min="-99.9" max="80"
      required pattern="\d*" aria-describedby='period_addon'>
    <div class="input-group-append">
      <label id="period_addon" class="input-group-text" for="id_yearly_yield_period">年</label>
    </div>
  </div>
</div>
<div class="form-group col-sm-6 col-lg-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <label id="last_funded_addon" class="input-group-text" for="id_yearly_yield_last_funded_amount">総資産額</label>
    </div>
    <input type="number" class="form-control text-right" id="id_yearly_yield_last_funded_amount" value="25000000"
      min="0" max="999999999" step="10000000" required pattern="\d*" aria-describedby='last_funded_addon'>
    <div class="input-group-append">
      <label id="last_funded_addon" class="input-group-text" for="id_yearly_yield_last_funded_amount">円</label>
    </div>
  </div>
</div>
{% endblock tab4_content %}

{% block js %}
<script type="text/javascript" src="{% static 'simulators/js/flat-price-sale.js' %}"></script>
{% endblock js %}
