{% extends 'simulators/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'simulators/css/index.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
{% endblock css %}

{% block content %}
<main class='mt-4'>
  <div class='row'>
    <div class='text-center col'>
      <div id="particles-js" style='position: absolute;' class='w-100 h-100'>
      </div>
      <h1 class='h3 my-4'>長期投資で<br class="d-inline d-sm-none">未来をシミュレーション</h1>
      <img class='img-fluid center' src="{% static 'simulators/img/logo_large.png' %}" alt='Tousimu Large Logo'>
      <p class='h5 my-4'>Tousimu[トウシム]は、<br
          class="d-inline d-sm-none"><strong>シンプル</strong>で<strong>簡単</strong>に<strong>すぐ</strong>使える<br
          class="d-inline d-sm-none">長期投資シミュレーションです。</p>
    </div>
  </div>
  <div class="row mx-2 my-4">
    <div class="col-sm-6">
      <div class='view overlay zoom index-card card mb-3'>
        <h2 class='card-header text-center h5'>積立金額シミュレーション</h2>
        <img class="card-img-top" src="{% static 'simulators/img/funded-thumbnail.png' %}" alt='積立金額シミュレーションのサムネイル'>
        <div class="card card-body border-light">
          <p class="card-text">
            毎月同じ金額を積立投資した時の、最終積立金額のシミュレーション。
            投資元本との比較によって複利の力を実感できます。
            最終積立金額から逆算した毎月の投資金額・投資期間・利回りも計算可能。
          </p>
        </div>
        <a href="{% url 'simulators:funded-simulator' %}"></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="view overlay zoom index-card card mb-3">
        <h2 class='card-header text-center h5'>配当金額シミュレーション</h2>
        <img class="card-img-top" src="{% static 'simulators/img/dividend-thumbnail.png' %}" alt='配当金額シミュレーションのサムネイル'>
        <div class="card card-body border-light">
          <p class="card-text">
            毎月同じ金額を積立投資し配当も再投資した時の、最終年間配当金額のシミュレーション。
            増配の有無の比較によって増配の力を実感できます。
            最終年間配当金額から逆算した毎月の投資金額・投資期間・配当利回りも計算可能。
          </p>
        </div>
        <a href="{% url 'simulators:dividend-simulator' %}"></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="view overlay zoom index-card card mb-3">
        <h2 class='card-header text-center h5'>資産取崩しシミュレーション</h2>
        <img class="card-img-top" src="{% static 'simulators/img/sale-thumbnail.png' %}" alt='資産取崩しシミュレーションのサムネイル'>
        <div class="card card-body border-light">
          <p class="card-text">
            毎月同じ金額を取り崩すために必要な総資産額のシミュレーション。
            投資元本との比較によって複利の力を実感できます。
            総資産額から逆算した毎月取り崩す金額・取り崩す期間・利回りも計算可能。
          </p>
        </div>
        <a href="{% url 'simulators:flat-price-sale' %}"></a>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block js %}
<script type='text/javascript'>
  const config = {
    "particles": {
      //--シェイプの設定----------
      "number": {
        "value": 20, //シェイプの数
        "density": {
          "enable": true, //シェイプの密集度を変更するか否か
          "value_area": 200 //シェイプの密集度
        }
      },
      "shape": {
        "type": "circle" //シェイプの形（circle:丸、edge:四角、triangle:三角、polygon:多角形、star:星型、image:画像）
      },
      "color": {
        "value": "#87A2DB" //シェイプの色
      },
      "opacity": {
        "value": 0.7 //シェイプの透明度
      },
      "size": {
        "value": 2, //シェイプの大きさ
        "random": true, //シェイプの大きさをランダムにするか否か
        "anim": {
          "enable": true, //シェイプの大きさをアニメーションさせるか否か
          "speed": 20, //アニメーションのスピード
          "size_min": 1, //大きさの最小値
          "sync": false //全てのシェイプを同時にアニメーションさせるか否か
        }
      },
      //--------------------

      //--線の設定----------
      "line_linked": {
        "enable": true, //線を表示するか否か
        "distance": 150, //線をつなぐシェイプの間隔
        "color": "#87A2DB", //線の色
        "opacity": 0.5, //線の透明度
        "width": 1 //線の太さ
      },
      //--------------------

      //--動きの設定----------
      "move": {
        "speed": 4, //シェイプの動くスピード
        "straight": false, //個々のシェイプの動きを止めるか否か
        "direction": "none", //エリア全体の動き(none、top、top-right、right、bottom-right、bottom、bottom-left、left、top-leftより選択)
        "out_mode": "out" //エリア外に出たシェイプの動き(out、bounceより選択)
      }
      //--------------------

    },

    "interactivity": {
      "detect_on": "canvas",
      "events": {

        //--マウスオーバー時の処理----------
        "onhover": {
          "enable": false, //マウスオーバーが有効か否か
        },
        "onclick": {
          "enable": false,
        }
        //--------------------
      },
    },
    "retina_detect": true, //Retina Displayを対応するか否か
    "resize": true //canvasのサイズ変更にわせて拡大縮小するか否か
  }

  particlesJS('particles-js', config);
</script>
{% endblock js %}
