<!-- contact/contact_form.html -->
{% extends 'simulators/base.html' %}

{% block content %}
<main class='mt-5'>
  <div class='row justify-content-md-center'>
    <div class='col-lg-6 mx-2'>
      <h1 class='h2'>お問い合わせ</h1>
      <p>いつもTousimuをご利用いただき、ありがとうございます。</p>
      <p>不具合のご報告、ご質問、その他ご意見等ございましたら、こちらからご連絡ください。</p>
      <p><a href='https://twitter.com/maroblog28'>Twitter</a>からのお問い合わせも可能です。</p>
      <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info btn-block">送信</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
